 .about-container {
     display: flex;
     background: linear-gradient(to top, #cecece, #f8f8f8);

     & img {
         width: 100vw;
         height: 100vh;
         object-fit: cover;
         position: relative;
         /* animation: about-img 2s ease-in; */
     }
 }

 .about-titulo {
     margin-top: 17vh;
     line-height: 10vh;
     text-transform: uppercase;

     & h1 {
         display: block;
         font-size: 60px;
         color: $primarycolor;
         text-align: center;
         border-bottom: solid 1px $primarycolor;
         border-bottom-style: dashed;
         margin: 0 7vw;
     }

     & span {
         display: block;
         font-size: 7vw;
         letter-spacing: -0.4vw;
         color: $accentcolor;
     }

     & p{
        margin-top: 30px;
        padding: 0 10vw;
        text-align: justify;
        line-height: 1.5;
        text-transform: none;
     }
 }


 @keyframes about-img {
     0% {transform: translateX(100%);}
     100% {transform: translateX(0%);}
 };