.contact-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 10vh;
    &.left{
        text-align: center;
    }
    &.right{
        text-align: center;
    }
}

img {
    .left & {

            width: 50vw;
            height: 40vh;
            object-fit: cover;
            position: absolute;
            top: 0;
           }
    }

    img {
        .right & {
                width: 50vw;
                height: 40vh;
                position: absolute;
                object-fit: cover;
                bottom: 0;
                right: 0;
               }
        }


p {
    .left & {
        font-size: 20px;
        position: relative;
        margin-top: 50vh;
    }

    .right & {
        font-size: 20px;
        padding: 10px 40px;
    }
}