.header {
  & .container-scroll {
    z-index: 90;
    margin-top: 25vh;
    animation: up-n-down 1s ease infinite;
    margin-right: 15px;

    & P {
      display: flex;
      justify-content: right;
      opacity: .5;
    }

    & img {
      width: 40px;
    }

    & a {
      text-decoration: none;
      font-size: 14px;
      color: $secondarycolor;
    }
  }
}

/* ========== animation of the scrolling icon ============== */
@keyframes up-n-down {
  0% {
    transform: translateY(10px);
  }

  25% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(10px);
  }
}

.titulo {
  & h1 {
    z-index: 10;
    font-family: 'Poppins', sans-serif;
    color: $secondarycolor;
    text-transform: uppercase;
    letter-spacing: 3vw;
    line-height: 1.2;
    font-size: 3vw;
    text-align: center;

    span {
      display: block;
      font-family: 'Poppins', sans-serif;
      font-size: 10vw;
      letter-spacing: -0.7vw;
      color: $accentcolor;
    }
  }
}

.titulo {
  z-index: 10;
  margin-top: 30vh;
  font-family: 'Poppins', sans-serif;
  color: $secondarycolor;
  font-size: 1.5vw;
  text-align: center;
  margin-top: 25vh;

}


.bg-video {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: 100%;
  background-position: center;
  background-size: contain;
}

.overlay {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: rgba($primarycolor, $alpha: .8);
}