@import 'reset', 'variables', 'landing', 'navbar', 'about', 'music';


.music{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $secondarycolor;
    background-color: $primarycolor;
}

.contact{
    background: linear-gradient(to top, #cecece, #f8f8f8);
}