.nav {
    display: flex;
    align-items: center;
    top: 0;
    z-index: 1;
}

.nav2 {
    flex: 1;
    text-align: right;

    & ul {
        display: inline-block;
        list-style-type: none;

        & li {
            display: inline-block;
            margin: 10px 20px;

            & a {
                text-decoration: none;
                color: $primarycolor;
                text-transform: uppercase;

                &:hover {
                    background-color: $accentcolor;
                }

                & img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

.slide {
    & img{
    background-color: $primarycolor;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    }
}

.animate__fadeOutUpBig {
    animation-duration: 1s;
}

h1{
    font-size: 40px;
}