.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 10vh;

  &.left {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &.right {
    text-align: center;
  }
}

@media (max-width:1024px) {
  .contact-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    position: absolute;
    height: 100vh;
    width: 100vw;

    &.left {
      grid-row: 1;
    }

    &.right {
      grid-row: 2;
    }
  }
}

.left-img {
  position: absolute;
  top: 0;
  width: 50vw;

  & img {
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    position: absolute;
    top: 0;
  }

  & p {
    font-size: 20px;
    position: relative;
    margin-top: 50vh;
  }

  & h1 {
    margin-top: 60vh;
  }
}

.iconos {
  position: relative;
  top: 60vh;
  text-align: center;

  & img {
    width: 50px;
    height: 50px;

    &:hover {
      filter: invert(69%) sepia(92%) saturate(432%) hue-rotate(13deg) brightness(90%) contrast(96%);
    }
  }
}

@media (max-width:1024px) {
  .iconos {
    position: relative;

    & img {
      width: 30px;
      height: 30px;
    }
  }
}

.right-img {
  & img {
    width: 50vw;
    height: 50vh;
    position: absolute;
    object-fit: cover;
    bottom: 0;
    right: 0;
  }
}


.wrapper {
  position: absolute;
  align-items: center;
  width: 100%;
  height: 49vh;
  padding: 10px;
  background: $secondarycolor;
  margin-left: 7vw;
}

h2 {
  background: $accentcolor;
  letter-spacing: 0.1rem;
  padding: 0;
  cursor: default;
  text-align: center;
}

form,
input,
textarea,
button {
  font-size: initial;
}

.form-group label {
  display: block;
  margin: 0 0;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  transition: border 0.15s;
}

.form-group input[type="text"],
.form-group input[type="email"] {
  height: 2rem;
}

.form-group textarea {
  resize: vertical;
}

.submit {
  font-weight: bold;
  padding: 10px 10px;
  border: none;
  background: $accentcolor;
  cursor: pointer;
  transition: background 0.15s;
}

i {
  margin-right: 0;
}

.submit:hover {
  background: #fff;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
  border: 1px solid #222;
}

@media screen and (min-width: 576px) {
  .wrapper {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 55%;
  }
}

@media screen and (min-width: 992px) {
  .wrapper {
    width: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 35%;
  }
}