.contact {
  background: linear-gradient(to top, #cecece, #f8f8f8);
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 10vh;

  &.left {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &.right {
    text-align: center;
  }
}

@media (max-width:1024px) {
  .contact-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    position: absolute;
    height: 100vh;
    width: 100vw;

    &.left {
      grid-row: 1;
    }

    &.right {
      grid-row: 2;
    }
  }
}

.left-img {
  position: absolute;
  top: 0;
  width: 50vw;

  & img {
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    animation-duration: 3s;
  }

  & p {
    font-size: 20px;
    position: relative;
    margin-top: 50vh;
  }

  & h1 {
    margin-top: 60vh;
  }
}

.iconos {
  position: relative;
  top: 80vh;
  text-align: center;

  & img {
    width: 50px;
    height: 50px;

    &:hover {
      filter: invert(69%) sepia(92%) saturate(432%) hue-rotate(13deg) brightness(90%) contrast(96%);
    }
  }
}

@media (max-width:1024px) {
  .iconos {
    position: relative;

    & img {
      width: 30px;
      height: 30px;
    }
  }
}

.right-img {
  & img {
    width: 50vw;
    height: 50vh;
    position: absolute;
    object-fit: cover;
    bottom: 0;
    right: 0;
    animation-duration: 3s;
  }
}


.wrapper {
  position: absolute;
  align-items: center;
  width: 48vw;
  height: 40vh;
  background: $secondarycolor;

  & h2 {
    background: $accentcolor;
    letter-spacing: 2px;
    padding: 0;
    cursor: default;
    text-align: center;
  }
}



.form-group {

  & label {
    display: block;
    margin: 0 0;
  }

  & input[type="text"],
  input[type="email"] {
    width: 100%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
    height: 2rem;
  }

  & textarea {
    width: 100%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
    height: 4rem;
  }
}


.submit {
  font-weight: bold;
  padding: 10px 10px;
  border: none;
  background: $accentcolor;
  cursor: pointer;
  transition: background 0.15s;

  &:hover {
    background: #fff;
  }
  & i {
    margin-right: 0;
  }
}


.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
  border: 1px solid $accentcolor;
}
