$breakpoints: (phone : 320px, LGphone : 425px, tablet : 768px, desktop : 1024px, LGdesktop: 1920px); //map for breakpoints
//mix ins for each breakpoints

@mixin phone {
    @media (max-width: map-get($breakpoints, 'phone')) {
        @content;
    }
}

@mixin LGphone {
    @media (max-width: map-get($breakpoints, 'LGphone')) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: map-get($breakpoints, 'tablet')) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: map-get($breakpoints, 'desktop')) {
        @content;
    }
}

@mixin LGdesktop {
    @media (max-width: map-get($breakpoints, 'LGdesktop')) {
        @content;
    }
}

/***** Section *****/
//Music Section Responsiveness
/***** End Section *****/

@include desktop {
    .wave svg {
        width: 100%;
        height: 100px;
    }
}

@include tablet {
    .music {
        h1 {
            font-size: 35px;
        }

        & p {
            top: 40px;
        }
    }

    .music-container {
        width: 80vw;
        left: 11vw;
    }

    .music-info {
        top: 20px;
    }

}

@include LGphone {
    .music {
        h1 {
            font-size: 25px;
        }
    }

    #volume {
        display: none;
    }

    .wave {
        width: 100%;
    }
}


/***** Section *****/
// Landing page
/***** End Section *****/


@include desktop {
    .header {

        h1 {
            font-size: 2rem;

            span {
                font-size: 4rem;
            }
        }

        & p {
            display: flex;
            justify-content: center;
            opacity: .5;
            font-size: 1.3rem;
        }
    }
}

@include LGphone {
    video {
        display: none;
    }

    .overlay {
        background: url(/Main/img/andresfondonegro.jpg);
        object-fit: cover;
    }
}

/***** Section *****/
// About Section
/***** End Section *****/

@include desktop {
    .about-title {
        line-height: 0;
        margin-left: 15px;

        & h1 {
            display: flex;
            font-size: 20px;
            color: $primarycolor;
            text-align: center;
            justify-content: center;
            border-bottom: none;
        }

        & span {
            letter-spacing: 0;
            font-size: 20px;
            color: $primarycolor;
            margin-right: 5px;
        }

        & p {
            margin-top: 0;
            padding: 0 5px;
        }
    }
}

@include tablet {
    .about-container {
        & img {
            width: 200px;
            height: 300px;
            margin: auto;
            border-radius: 30%;
        }
    }

    .about-text {
        margin-top: 0;
    }

    .about-title {
        line-height: 0;

        & h1 {
            display: flex;
            font-size: 20px;
            color: $primarycolor;
            text-align: center;
            justify-content: center;
            border-bottom: none;
        }

        & span {
            letter-spacing: 0;
            font-size: 20px;
            color: $primarycolor;
            margin-right: 5px;
        }

        & p {
            margin-top: 0;
            padding: 0 15px;
        }
    }
}

@include LGphone {
    .about-container {
        display: flex;
        flex-direction: column;
        height: 100vh;

        img {
            position: absolute;
            bottom: 0;
            right: 25vw;
            max-width: 200px;
            max-height: 200px;
            border-radius: 30%;
        }
    }

    .about-title {
        margin: 0;
        top: -40px;
        line-height: 0;
        position: relative;

        h1 {
            top: 4vh;
            display: flex;
            font-size: 20px;
            color: $primarycolor;
            text-align: center;
            justify-content: center;
            border-bottom: none;
        }

        span {
            letter-spacing: 0;
            font-size: 20px;
            color: $primarycolor;
            margin-right: 5px;
        }

        p {
            top: 10vh;
            display: flex;
            font-size: 14px;
            padding: 0;
        }
    }

    .about-text {
        height: 70vh;
    }
}

@include phone {
    .about-container {
        img {

            display: none;
        }
    }

}


/***** Section *****/
// Contact me Section responsiveness
/***** End Section *****/

@include LGphone {
    .contact {
        height: 100vh;
        background: linear-gradient(to top, #cecece, #f8f8f8);
    }

    .contact-container {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        position: absolute;
        height: 100%;
        width: 100vw;
        top: 0;

        h1 {
            font-size: 30px;
        }

        &.left {
            text-align: center;
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 50vw;
            left: 0;
            height: 100%;
        }

        &.right {
            position: absolute;
            width: 50vw;
            height: 100%;
            right: 0;
            text-align: center;
        }
    }

    .contact-forms {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .wrapper {
        position: relative;
        width: 40vw;
        height: 50vh;
        background: $secondarycolor;

        & h2 {
            background: $accentcolor;
            letter-spacing: 2px;
            padding: 0;
            cursor: default;
            text-align: center;
        }
    }

    .form-group {
        width: 40vw;

        & label {
            display: block;
            margin: 0;
        }

        .iconos {
            text-align: center;
        }
    }
}

@include tablet {
    .left-img {
        h1 {
            font-size: 40px;
        }
    }
}

@include desktop {
    .contact-container {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
        position: absolute;
        height: 100vh;
        width: 100vw;

        &.left {
            grid-row: 1;
        }

        &.right {
            grid-row: 2;
        }
    }

    .iconos {
        position: relative;

        & img {
            width: 30px;
            height: 30px;
        }
    }
}

/***** Section *****/
//Photos section responsivess
/***** End Section *****/

@include LGphone {
    .col-2 {
        padding: 0;

        img:nth-oftype(1) {
            height: 50vh;
        }

        img {
            width: 50vw;
            height: 100vh;
        }


    }
}

@include tablet {
    .col-2 {
        padding: 0;

        img {
            width: 50vw;
            height: 100vh;
        }
    }

}