@import 'reset', 'variables', 'landing', 'navbar', 'about', 'music', 'photos', 'contact', 'mediaquerys';



.section {
    width: 100vw;
    height: 100vh;
    position: relative;
    -webkit-box-sizing: border-box;
    /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box;
    /* <=28 */
    box-sizing: border-box;
}
